@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@* @model List<KeyHouse.Models.Entities.Users> *@
@model X.PagedList.IPagedList<KeyHouse.Models.Entities.Agencies>
@using X.PagedList.Mvc.Core;
<section>
    <div class="container-xxl py-5">
        <div class="container" >
           <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                        <h1 class="mb-3">Agencies List</h1>
                    </div>
                </div>
            </div>   <div class="row g-4">
                @foreach (var item in Model)
                {
                    <div class="card" style="width: 18rem; margin:5px">
                        <img src="~/logo/@item.logo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="fw-bold mb-0">@item.AgencyName</h5>
                            <p> <i class="bi bi-envelope-fill"></i> @item.Email</p>
                            <p> <i class="bi bi-telephone-fill"></i> @item.PhoneNumber</p>
                            <p> Commercial Register: @item.NumCompany</p>
                            <p class="form-label"> Status: @(item.AgencyStatus == 1 ? "Pending" : item.AgencyStatus == 2 ? "Rejected" : item.AgencyStatus == 3 ? "Approved" : item.AgencyStatus == 4 ? "Suspended" : "Not Defined")</p>
                            <a class="btn btn-primary" href="@Url.Action("GetAgenciesDetails", "Admin", new { id = item.Id })">Details</a>
                        </div>
                    </div>
                 
                }
            </div>
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Users", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})
</section>
