@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model X.PagedList.IPagedList<KeyHouse.Models.Entities.Agencies>
@using X.PagedList.Mvc.Core;
<section class="py-3 py-md-5">

    <div class="container-fluid pt-4 px-4 border border-white" style="background-color:white; background-clip:border-box">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Users</p>
                        <h6 class="mb-0">@ViewBag.Users</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Agencies</p>
                        <h6 class="mb-0">@ViewBag.Agency</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Properties</p>
                        <h6 class="mb-0">@ViewBag.Properites</h6>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row g-4 align-content-center">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light text-center rounded p-4">
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Added Agencies Today</h6>
                    <a asp-area="" asp-controller="Admin" asp-action="Agencies">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">Date</th>
                                <th scope="col">Agency Name</th>
                                <th scope="col">Commercial Register</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Creation_date.Date</td>
                                    <td>@item.AgencyName</td>
                                    <td>@item.NumCompany</td>
                                    <td><a class="btn btn-sm btn-primary" href="@Url.Action("GetAgenciesDetails", "Admin", new { id = item.Id })">Detail</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    @Html.PagedListPager(Model, page => Url.Action("Users", new { page }), new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }
               })
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0"> Agencies Will Be Expired Today</h6>
                    <a asp-area="" asp-controller="Admin" asp-action="Agencies">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">End Date</th>
                                <th scope="col">Agency Name</th>
                                <th scope="col">Commercial Register</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<Contracts>)ViewData["Expired"])
                            {
                                <tr>
                                    <td>@item.End_date</td>
                                    <td>@item.Agencies.AgencyName</td>
                                    <td>@item.Agencies.NumCompany</td>
                                    <td><a class="btn btn-sm btn-primary" href="@Url.Action("GetAgenciesDetails", "Admin", new { id = item.Agencies.Id })">Detail</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    @Html.PagedListPager(Model, page => Url.Action("Users", new { page }), new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }
               })
                </div>
            </div>
        </div>
    </div>


</section>
<script>
    // Sample data (you can pass your model data here)
    var data = {
        labels: ['Users', 'Agencies', 'Properties'], // Change labels based on your data
        datasets: [{
            label: 'Key House Dataset',
            data: [@ViewBag.Users, @ViewBag.Agency, @ViewBag.Properites], // Change data based on your data
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    };

    // Configuration for the pie chart
    var config = {
        type: 'doughnut',
        data: data,

        options: {
            responsive: true,
            maintainAspectRatio: false, // Allow chart to resize
            plugins: {
                legend: {
                    position: 'top',
                    labels: {
                        font: {
                            size: 14, // Change font size for labels
                            weight: 'bold' // Change font weight for labels
                        },
                        color: '#333' // Change legend label color
                    }
                },
                title: {
                    display: true,
                    text: 'Count Of Item In Our Systen',
                    font: {
                        size: 18, // Title font size
                        weight: 'bold' // Title font weight
                    },
                    color: '#333' // Title color
                },
                tooltip: {
                    bodyFont: {
                        size: 14 // Change tooltip font size
                    },
                    titleFont: {
                        weight: 'bold' // Change tooltip title font weight
                    }
                }
            }
        }
    };

    // Render the pie chart
    var myPieChart = new Chart(
        document.getElementById('doughnut-chart'),
        config
    );
</script>
