@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@* @model List<KeyHouse.Models.Entities.Users> *@
@model X.PagedList.IPagedList<KeyHouse.Models.Entities.Users>
@using X.PagedList.Mvc.Core;
<section>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">System Users</h1>

            </div>
           @*  <div class="row g-4">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="img/team-1.jpg" alt="">
                                <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                                </div>
                            </div>
                            <div class="text-center p-4 mt-3">
                                <h5 class="fw-bold mb-0">@item.User_Name</h5>
                                <label>Uesr Email:</label><small>@item.Uesr_Email</small>
                                <br />
                                <label>Uesr Phone:</label><small>@item.User_Phone</small>
                                <br />
                                <label>User Type:</label><small>@(item.User_Type == 1 ? "Client" : "Agency")</small>
                                <br />
                                @if(item.User_Type == 2)
                                {
                                    <label> Agency Name:</label>
                                    <small>@item.Agencies.Agency_Name </small>
                                    <br/>
                                }
                                <label>Status : </label><small> @(item.status == 1 ? "Active" : "Inactive")</small>
                                <br />
                                <label>Creation Date : </label><small> @item.Creation_date.Date.ToString("dd/MM/yyyy") </small>

                            </div>
                        </div>
                    </div>
                }
            </div> *@
        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Users", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})


</section>